useDynLib(audio, audio_close, audio_current_driver, audio_driver_descr,
		 audio_driver_name, audio_drivers_list, audio_instance_address,
		 audio_instance_source, audio_instance_type, audio_load_driver,
		 audio_pause, audio_player, audio_recorder, audio_resume,
		 audio_rewind, audio_start, audio_use_driver, audio_wait,
		 load_wave_file, save_wave_file)
export(play, pause, resume, rewind, record, wait, audioSample)
export(load.wave, save.wave)
export(audio.drivers, set.audio.driver, load.audio.driver, current.audio.driver)
S3method(print, audioInstance)
S3method(print, audioSample)
S3method("$", audioInstance)
S3method("$", audioSample)
S3method("$<-", audioSample)
S3method("[", audioSample)
S3method(as.audioSample, Sample)
S3method(as.audioSample, default)
S3method(close, audioInstance)
S3method(pause, audioInstance)
S3method(play, Sample)
S3method(play, audioInstance)
S3method(play, audioSample)
S3method(play, default)
S3method(resume, audioInstance)
S3method(rewind, audioInstance)
S3method(wait, audioInstance)
S3method(wait, default)
exportPattern(".*\\.audioInstance")
exportPattern(".*\\.audioSample")
exportPattern(".*\\.Sample")
exportPattern(".*\\.default")
